[data-theme='dark'] {

	/* 布局 */
	.aminui-side-split {
		background: #001528;
		li {
			i, p{
				color: #ffffffa6;
			}
		}
		li.active {
			color: #fff;
			span {
				width: 70px;
				background-color: var(--el-color-primary);
				padding: 10px 8px;
			}
			i, p { 
				color: #fff;;
			}
		}
		li:hover {
			color: #fff;
			i, p { 
				opacity: 1;
				color: #fff;;
			}
		}
	
	}

	.aminui-side-split+.aminui-side {
		background: #fff;
		border-color: #101117;
		border-right: 1px solid #e6e6e6;
		box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
		.adminui-side-top {
			border-bottom: 1px solid #ebeef5;
		}
		.adminui-side-top h2 {
			color: #3c4a54;
		}
		.adminui-side-bottom {
			border-top: 1px solid #ebeef5;
			.el-icon {
				color: var(--el-menu-text-color);
			}
		}
		.el-alert--info.is-light {
			background-color: transparent;
		}
		.el-sub-menu {
			.el-menu{background: #fff;}
			.el-menu-item.is-active {
				    color: var(--el-color-primary);
					background: var(--el-color-primary-light-9);
					box-shadow: inset -2px 0 0 var(--el-color-primary);
			}
		}
		.el-menu-item.is-active {
			color: var(--el-color-primary);
			background: var(--el-color-primary-light-9) !important;
			box-shadow: inset -2px 0 0 var(--el-color-primary);
		  }
		  
		  .el-menu {
			background: #fff;
		  }
		  
		  .el-menu-item {
			color: var(--el-menu-text-color);
		  
			&:hover {
			  background: #fff -translucent;
			}
		  }
		  
		  .el-sub-menu__title:hover {
			background: #fff -translucent;
		  }
		  
		  .el-menu--horizontal .el-menu-item {
			background: none;
		  
			&:not(.is-disabled):hover {
			  background: #fff -translucent;
			}
		  }
		  
		  .el-sub-menu__title {
			color: var(--el-menu-text-color);
		  
			&:hover {
			  background: transparent;
			  color: var(--el-color-primary);
			}
		  }
		  
		  .el-menu-item:hover {
			background: transparent;
			color: var(--el-color-primary);
		  }
		  

	
	}
	.adminui-header {
		height: 48px;
		color: hsla(0,0%,100%,.7) ;
		// background: linear-gradient(90deg,var(--el-color-primary-dark-5),var(--el-color-primary-dark-2),var(--el-color-primary),var(--el-color-primary-light-7),var(--el-color-primary-light-9));
		background: var(--el-color-header-center);
		background: -webkit-gradient(linear,left top,right top,from(var(--el-color-header-left)),color-stop(var(--el-color-header-center)),to(var(--el-color-header-right)));
		background: linear-gradient(90deg,var(--el-color-header-left),var(--el-color-header-center), var(--el-color-header-right));
		display: flex;
		justify-content: space-between;
		border-bottom: none !important;
		.el-dropdown {
			color: hsla(0,0%,100%,.7) ;
		}
		.el-menu--horizontal>.el-menu-item {
			border-bottom: none !important;
		}
		.el-menu--horizontal>.el-menu-item:hover {
			color: #fff  !important;
			box-shadow: inset 0 -3px 0 0 #4fe3c1;
		}
		.el-menu--horizontal>.el-menu-item.is-active {
			color: #fff  !important;
			box-shadow: inset 0 -3px 0 0 #4fe3c1;
		}
		.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
			outline: 0;
			color: #fff;
			background-color:transparent !important;
			
		}
		.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
			border-bottom: none !important;
		}
		.el-menu--horizontal>.el-sub-menu .el-sub-menu__title {
			border-bottom: none !important;
		}
		.el-menu--horizontal>.el-sub-menu .el-sub-menu__title:hover {
			background-color: transparent !important;
			color: #fff;
			box-shadow: inset 0 -3px 0 0 #4fe3c1;
		}
		.nav {
			background: transparent;
			li {
				color: hsla(0,0%,100%,.7);
			}
			li.el-menu--horizontal>.el-menu-item.is-active {
				border-bottom: none !important;
				color: #fff;
				background: rgb(193, 195, 208);
			}
		}
		.user-bar{
			.panel-item:hover {
				background: hsla(0,0%,100%,.05);
				color: #fff;
			}
		}
	}
	.aminui-side{
		background: #191a23;
		-webkit-box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
		box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
		z-index: 100;
		border-right:none;
		.adminui-side-top {
			border-color: #101117;
		  
			h2 {
			  color: #FFFFFF;
			}
		}
		.adminui-side-bottom {
			border-color: #101117;
			.el-icon{
				color: hsla(0,0%,100%,.7);
			}
			.el-icon:hover, .el-icon:active{
				color: #fff;
			}
		}
		.el-alert--info.is-light {
			background-color: transparent;
		}
		.el-menu {background: #191a23;}
		.el-menu-item {color: hsla(0,0%,100%,.7);}
		.el-menu-item:hover {background: #101118 -translucent;}
		.el-sub-menu {
			.el-menu-item.is-active {
				border-right: none;
				color: #fff;
				background: var(--el-color-primary);
			}
		}
		.el-sub-menu .el-menu {
			background: #101117;
		  }
		  
		  .el-sub-menu__title:hover {
			background: #101118 -translucent;
		  }
		  
		  .el-menu--horizontal .el-menu-item {
			background: none;
		  
			&:not(.is-disabled):hover {
			  background: #222225 -translucent;
			}
		  }
		  
		  .el-sub-menu__title {
			color: hsla(0, 0%, 100%, 0.7);
		  
			&:hover {
			  background-color: transparent;
			  color: #fff;
			}
		  }
		  
		  .el-menu-item:hover {
			background-color: transparent;
			color: #fff;
		  }
	}
	
	.aminui-side .el-menu-item.is-active {
		color: #fff;
		background-color: #101117;
	}

	.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title {
		color: #fff;
	}

}
[data-layout='top']{
	.adminui-header {
		background: #191a23;
		background: -webkit-gradient(linear,left top,right top,from(#191a23),color-stop(#191a23),to(#191a23));
		background: linear-gradient(90deg,#191a23,#191a23,#191a23);
	}
}